In [1]:
import numpy as np
import pandas as pd
import sklearn.metrics as metrics
from sklearn.neural_network import MLPClassifier
from sklearn import svm

In [2]:
# Get the feature of the training set
def get_features(filename):
    features = pd.read_csv('./'+filename)
    print(features.head(12))
    # train = train.sample(frac=1).reset_index(drop=True)
    # print(train.head())
    return features

# Get the labels of the training set
def get_labels(filename):
    labels = pd.read_csv('./'+filename)
    print(labels.head(12))
    # train = train.sample(frac=1).reset_index(drop=True)
    # print(train.head())
    return labels

# Get the features of the testing set
def get_test_feature(filename):
    test_features = pd.read_csv('./'+filename)
    print(test_features.head(12))
    # train = train.sample(frac=1).reset_index(drop=True)
    # print(train.head())
    return test_features

features = get_features('train_features.csv')
labels = get_labels('train_labels.csv')
test_features = get_test_feature('test_features.csv')
print(features.shape)
print(labels.shape)
print(test_features.shape)

    pid  Time   Age  EtCO2  PTT   BUN  Lactate  Temp  Hgb  HCO3  ...  \
0     1     3  34.0    NaN  NaN  12.0      NaN  36.0  8.7  24.0  ...
1     1     4  34.0    NaN  NaN   NaN      NaN  36.0  NaN   NaN  ...
2     1     5  34.0    NaN  NaN   NaN      NaN  36.0  NaN   NaN  ...
3     1     6  34.0    NaN  NaN   NaN      NaN  37.0  NaN   NaN  ...
4     1     7  34.0    NaN  NaN   NaN      NaN   NaN  NaN   NaN  ...
5     1     8  34.0    NaN  NaN   NaN      NaN  37.0  NaN   NaN  ...
6     1     9  34.0    NaN  NaN   NaN      NaN  37.0  NaN   NaN  ...
7     1    10  34.0    NaN  NaN   NaN      NaN  37.0  NaN   NaN  ...
8     1    11  34.0    NaN  NaN  12.0      NaN   NaN  8.5  26.0  ...
9     1    12  34.0    NaN  NaN  12.0      NaN  38.0  8.5  26.0  ...
10    1    13  34.0    NaN  NaN   NaN      NaN   NaN  NaN   NaN  ...
11    1    14  34.0    NaN  NaN   NaN      NaN   NaN  NaN   NaN  ...

    Alkalinephos   SpO2  Bilirubin_direct  Chloride   Hct  Heartrate  \
0            NaN  100.0               NaN     114.0  24.6       94.0
1            NaN  100.0               NaN       NaN   NaN       99.0
2            NaN  100.0               NaN       NaN   NaN       92.0
3            NaN  100.0               NaN       NaN   NaN       88.0
4            NaN  100.0               NaN       NaN  22.4       81.0
5            NaN  100.0               NaN       NaN  22.4       82.0
6            NaN  100.0               NaN       NaN   NaN       67.0
7            NaN  100.0               NaN       NaN   NaN       62.0
8            NaN  100.0               NaN     111.0  23.8       58.0
9            NaN  100.0               NaN     111.0  23.8       66.0
10           NaN  100.0               NaN       NaN   NaN       67.0
11           NaN  100.0               NaN       NaN  22.2       69.0

    Bilirubin_total  TroponinI   ABPs    pH
0               NaN        NaN  142.0  7.33
1               NaN        NaN  125.0  7.33
2               NaN        NaN  110.0  7.37
3               NaN        NaN  104.0  7.37
4               NaN        NaN  100.0  7.41
5               NaN        NaN  106.0   NaN
6               NaN        NaN  112.0   NaN
7               NaN        NaN  121.0   NaN
8               NaN        NaN  118.0   NaN
9               NaN        NaN  110.0  7.39
10              NaN        NaN  124.0  7.39
11              NaN        NaN  102.0   NaN

[12 rows x 37 columns]
      pid  LABEL_BaseExcess  LABEL_Fibrinogen  LABEL_AST  LABEL_Alkalinephos  \
0       1               1.0               0.0        0.0                 0.0
1      10               0.0               0.0        0.0                 0.0
2     100               1.0               0.0        0.0                 0.0
3    1000               0.0               0.0        0.0                 0.0
4   10000               0.0               0.0        0.0                 0.0
5   10002               0.0               0.0        0.0                 0.0
6   10006               0.0               0.0        0.0                 0.0
7   10007               0.0               0.0        1.0                 1.0
8   10009               1.0               1.0        0.0                 0.0
9    1001               1.0               0.0        0.0                 0.0
10  10010               0.0               0.0        0.0                 0.0
11  10012               0.0               0.0        1.0                 1.0

    LABEL_Bilirubin_total  LABEL_Lactate  LABEL_TroponinI  LABEL_SaO2  \
0                     0.0            1.0              0.0         0.0
1                     0.0            0.0              0.0         0.0
2                     0.0            1.0              0.0         0.0
3                     0.0            1.0              0.0         1.0
4                     0.0            0.0              0.0         0.0
5                     0.0            0.0              0.0         0.0
6                     0.0            0.0              0.0         0.0
7                     1.0            0.0              0.0         0.0
8                     0.0            1.0              0.0         1.0
9                     0.0            1.0              0.0         0.0
10                    0.0            0.0              1.0         0.0
11                    1.0            0.0              0.0         0.0

    LABEL_Bilirubin_direct  LABEL_EtCO2  LABEL_Sepsis  LABEL_RRate  \
0                      0.0          0.0           0.0         12.1
1                      0.0          0.0           0.0         17.8
2                      0.0          0.0           0.0         16.5
3                      0.0          1.0           0.0         19.4
4                      0.0          0.0           0.0         12.6
5                      0.0          0.0           0.0         14.5
6                      0.0          0.0           0.0         17.2
7                      0.0          0.0           1.0         23.8
8                      0.0          0.0           0.0         18.9
9                      0.0          0.0           0.0         14.9
10                     0.0          0.0           0.0         20.5
11                     0.0          0.0           0.0         19.8

    LABEL_ABPm  LABEL_SpO2  LABEL_Heartrate
0         85.4       100.0             59.9
1        100.6        95.5             85.5
2         88.3        96.5            108.1
3         77.2        98.3             80.9
4         76.8        97.7             95.3
5         67.4        99.1             64.6
6         84.9        96.8             90.5
7         97.0        94.3             76.0
8         72.0        95.3             91.5
9         83.3        99.9            117.3
10        72.2        97.7             84.3
11        95.8        97.6            101.6
    pid  Time   Age  EtCO2   PTT   BUN  Lactate  Temp   Hgb  HCO3  ...  \
0     0     1  39.0    NaN   NaN   NaN      NaN   NaN   NaN   NaN  ...
1     0     2  39.0    NaN  44.2  17.0      NaN  36.0  10.2  13.0  ...
2     0     3  39.0    NaN   NaN   NaN      NaN   NaN   NaN   NaN  ...
3     0     4  39.0    NaN   NaN   NaN      NaN   NaN   NaN   NaN  ...
4     0     5  39.0    NaN   NaN   NaN      NaN   NaN   NaN   NaN  ...
5     0     6  39.0    NaN   NaN   NaN      NaN  36.0   NaN   NaN  ...
6     0     7  39.0    NaN  38.5  20.0      NaN   NaN   9.1  16.0  ...
7     0     8  39.0    NaN   NaN   NaN      NaN  36.0   NaN   NaN  ...
8     0     9  39.0    NaN   NaN   NaN      NaN  36.0   NaN   NaN  ...
9     0    10  39.0    NaN   NaN   NaN      NaN  36.0   NaN   NaN  ...
10    0    11  39.0    NaN   NaN   NaN      NaN   NaN   NaN   NaN  ...
11    0    12  39.0    NaN   NaN   NaN      NaN   NaN   NaN   NaN  ...

    Alkalinephos   SpO2  Bilirubin_direct  Chloride   Hct  Heartrate  \
0            NaN    NaN               NaN       NaN   NaN        NaN
1          119.0  100.0               NaN      98.0  31.0       82.0
2            NaN  100.0               NaN       NaN   NaN       78.0
3            NaN  100.0               NaN       NaN   NaN       80.0
4            NaN  100.0               NaN       NaN   NaN       83.0
5            NaN  100.0               NaN       NaN   NaN       88.0
6          109.0  100.0               NaN     102.0  25.9        NaN
7            NaN  100.0               NaN       NaN   NaN       90.0
8            NaN  100.0               NaN       NaN   NaN       90.0
9            NaN  100.0               NaN       NaN   NaN       85.0
10           NaN    NaN               NaN       NaN   NaN        NaN
11           NaN    NaN               NaN       NaN   NaN        NaN

    Bilirubin_total  TroponinI   ABPs    pH
0               NaN        NaN    NaN   NaN
1              21.8        NaN  119.0   NaN
2               NaN        NaN  125.0  7.34
3               NaN        NaN  136.0   NaN
4               NaN        NaN  135.0   NaN
5               NaN        NaN  144.0   NaN
6              26.4        NaN    NaN   NaN
7               NaN        NaN  129.0  7.40
8               NaN        NaN  121.0   NaN
9               NaN        NaN  120.0   NaN
10              NaN        NaN    NaN   NaN
11              NaN        NaN    NaN   NaN

[12 rows x 37 columns]
(227940, 37)
(18995, 16)
(151968, 37)

In [3]:
# Number of NaN in train_features
print(features.shape)
print(features.isnull().sum())

(227940, 37)
pid                      0
Time                     0
Age                      0
EtCO2               218157
PTT                 217641
BUN                 207835
Lactate             217184
Temp                146825
Hgb                 205645
HCO3                215381
BaseExcess          208053
RRate                40155
Fibrinogen          225447
Phosphate           216350
WBC                 208857
Creatinine          210148
PaCO2               206897
AST                 222179
FiO2                201338
Platelets           209905
SaO2                214926
Glucose             180904
ABPm                 32051
Magnesium           210417
Potassium           199547
ABPd                 75522
Calcium             210110
Alkalinephos        222232
SpO2                 32748
Bilirubin_direct    227221
Chloride            214023
Hct                 200643
Heartrate            27812
Bilirubin_total     222614
TroponinI           224164
ABPs                 36290
pH                  202894
dtype: int64

In [4]:
# Number of NaN in the test_features
print(test_features.shape)
print(test_features.isnull().sum())

(151968, 37)
pid                      0
Time                     0
Age                      0
EtCO2               145440
PTT                 145115
BUN                 138520
Lactate             144692
Temp                 97813
Hgb                 137096
HCO3                143546
BaseExcess          138730
RRate                26669
Fibrinogen          150313
Phosphate           144282
WBC                 139215
Creatinine          140163
PaCO2               138087
AST                 148060
FiO2                134169
Platelets           140095
SaO2                143298
Glucose             120896
ABPm                 21296
Magnesium           140141
Potassium           132953
ABPd                 50659
Calcium             140076
Alkalinephos        148107
SpO2                 21741
Bilirubin_direct    151490
Chloride            142551
Hct                 133719
Heartrate            18403
Bilirubin_total     148419
TroponinI           149499
ABPs                 23651
pH                  135162
dtype: int64

In [5]:
# # Delect the columns with too many NaN
# for index, row in features.iteritems():
#     if features[index].isnull().sum() >= 200000:
#         features = features.drop(columns=index)
#         test_features = test_features.drop(columns=index)

# For the rest columns, check how many are still NaN
for index, row in features.iteritems():
    print(features[index].isnull().sum())
features.head(12)

0
0
0
218157
217641
207835
217184
146825
205645
215381
208053
40155
225447
216350
208857
210148
206897
222179
201338
209905
214926
180904
32051
210417
199547
75522
210110
222232
32748
227221
214023
200643
27812
222614
224164
36290
202894

,pid,Time,Age,EtCO2,PTT,BUN,Lactate,Temp,Hgb,HCO3,...,Alkalinephos,SpO2,Bilirubin_direct,Chloride,Hct,Heartrate,Bilirubin_total,TroponinI,ABPs,pH
0,1,3,34.0,NaN,NaN,12.0,NaN,36.0,8.7,24.0,...,NaN,100.0,NaN,114.0,24.6,94.0,NaN,NaN,142.0,7.33
1,1,4,34.0,NaN,NaN,NaN,NaN,36.0,NaN,NaN,...,NaN,100.0,NaN,NaN,NaN,99.0,NaN,NaN,125.0,7.33
2,1,5,34.0,NaN,NaN,NaN,NaN,36.0,NaN,NaN,...,NaN,100.0,NaN,NaN,NaN,92.0,NaN,NaN,110.0,7.37
3,1,6,34.0,NaN,NaN,NaN,NaN,37.0,NaN,NaN,...,NaN,100.0,NaN,NaN,NaN,88.0,NaN,NaN,104.0,7.37
4,1,7,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,100.0,NaN,NaN,22.4,81.0,NaN,NaN,100.0,7.41
5,1,8,34.0,NaN,NaN,NaN,NaN,37.0,NaN,NaN,...,NaN,100.0,NaN,NaN,22.4,82.0,NaN,NaN,106.0,NaN
6,1,9,34.0,NaN,NaN,NaN,NaN,37.0,NaN,NaN,...,NaN,100.0,NaN,NaN,NaN,67.0,NaN,NaN,112.0,NaN
7,1,10,34.0,NaN,NaN,NaN,NaN,37.0,NaN,NaN,...,NaN,100.0,NaN,NaN,NaN,62.0,NaN,NaN,121.0,NaN
8,1,11,34.0,NaN,NaN,12.0,NaN,NaN,8.5,26.0,...,NaN,100.0,NaN,111.0,23.8,58.0,NaN,NaN,118.0,NaN
9,1,12,34.0,NaN,NaN,12.0,NaN,38.0,8.5,26.0,...,NaN,100.0,NaN,111.0,23.8,66.0,NaN,NaN,110.0,7.39
10,1,13,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,100.0,NaN,NaN,NaN,67.0,NaN,NaN,124.0,7.39
11,1,14,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,100.0,NaN,NaN,22.2,69.0,NaN,NaN,102.0,NaN

In [6]:
# Average multiple tests on one patient in the training set
average_features = features.groupby(np.arange(len(features))//12).mean()
print(average_features.shape)

# Check now how many are still NaN
for index, row in average_features.iteritems():
    print(average_features[index].isnull().sum())
average_features.head(12)

(18995, 37)
0
0
0
17673
11179
5029
14123
443
5020
11158
13298
152
17281
9666
5654
5268
11223
14199
11317
5454
13940
2665
107
6669
3998
3882
6729
14251
22
18372
10644
4356
7
14284
16203
398
11001

,pid,Time,Age,EtCO2,PTT,BUN,Lactate,Temp,Hgb,HCO3,...,Alkalinephos,SpO2,Bilirubin_direct,Chloride,Hct,Heartrate,Bilirubin_total,TroponinI,ABPs,pH
0,1.0,8.5,34.0,NaN,NaN,12.0,NaN,36.750000,8.566667,25.333333,...,NaN,100.000000,NaN,112.0,23.2,77.083333,NaN,NaN,114.500000,7.370
1,10.0,6.5,71.0,NaN,27.80,12.0,NaN,36.000000,14.600000,NaN,...,68.0,98.000000,NaN,NaN,42.1,78.818182,1.3,0.01,132.909091,NaN
2,100.0,7.5,68.0,NaN,20.90,21.0,NaN,36.250000,12.500000,27.000000,...,NaN,96.500000,NaN,101.0,36.8,109.083333,NaN,NaN,117.000000,NaN
3,1000.0,6.5,79.0,31.863636,NaN,22.0,3.855,36.818182,9.200000,NaN,...,NaN,98.818182,NaN,NaN,27.3,86.363636,NaN,NaN,141.909091,7.300
4,10000.0,6.5,76.0,NaN,28.55,22.0,NaN,36.750000,10.700000,25.500000,...,NaN,98.545455,NaN,103.5,30.3,77.090909,NaN,NaN,123.000000,7.390
5,10002.0,6.5,73.0,19.000000,31.30,18.0,3.005,37.000000,10.400000,NaN,...,38.0,99.181818,NaN,107.0,30.3,67.090909,0.8,NaN,132.090909,7.375
6,10006.0,6.5,51.0,NaN,NaN,NaN,NaN,37.500000,NaN,NaN,...,NaN,96.666667,NaN,NaN,NaN,82.000000,NaN,NaN,117.888889,NaN
7,10007.0,6.5,60.0,NaN,NaN,NaN,NaN,38.000000,NaN,NaN,...,NaN,94.909091,NaN,NaN,NaN,79.909091,NaN,0.08,139.363636,NaN
8,10009.0,6.5,69.0,NaN,86.05,15.0,NaN,37.250000,12.200000,21.000000,...,64.0,97.090909,NaN,104.0,34.0,97.727273,0.8,NaN,90.909091,NaN
9,1001.0,6.5,36.0,NaN,31.20,10.0,1.800,37.666667,10.400000,31.000000,...,NaN,100.000000,NaN,105.0,29.8,106.727273,NaN,NaN,113.090909,7.515
10,10010.0,6.5,85.0,NaN,NaN,119.0,NaN,36.000000,8.333333,NaN,...,NaN,99.909091,NaN,NaN,24.2,73.818182,NaN,0.03,100.727273,NaN
11,10012.0,6.5,63.0,NaN,NaN,NaN,NaN,37.000000,NaN,NaN,...,NaN,99.000000,NaN,NaN,NaN,82.454545,NaN,NaN,101.272727,7.395

In [7]:
# Check the labels
print(labels.shape)
labels.head(12)

(18995, 16)

,pid,LABEL_BaseExcess,LABEL_Fibrinogen,LABEL_AST,LABEL_Alkalinephos,LABEL_Bilirubin_total,LABEL_Lactate,LABEL_TroponinI,LABEL_SaO2,LABEL_Bilirubin_direct,LABEL_EtCO2,LABEL_Sepsis,LABEL_RRate,LABEL_ABPm,LABEL_SpO2,LABEL_Heartrate
0,1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,12.1,85.4,100.0,59.9
1,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.8,100.6,95.5,85.5
2,100,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,16.5,88.3,96.5,108.1
3,1000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,19.4,77.2,98.3,80.9
4,10000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.6,76.8,97.7,95.3
5,10002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.5,67.4,99.1,64.6
6,10006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.2,84.9,96.8,90.5
7,10007,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,23.8,97.0,94.3,76.0
8,10009,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,18.9,72.0,95.3,91.5
9,1001,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,14.9,83.3,99.9,117.3
10,10010,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,20.5,72.2,97.7,84.3
11,10012,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,19.8,95.8,97.6,101.6

In [8]:
# Average multiple tests on one patient in the test set, also impute it using the same KNN imputer
average_test_features = test_features.groupby(np.arange(len(test_features))//12).mean()
print(average_test_features.shape)
average_test_features.head(12)

# Check now how many are still NaN
for index, row in average_test_features.iteritems():
    print(average_test_features[index].isnull().sum())
average_test_features.head(12)

(12664, 37)
0
0
0
11793
7437
3307
9312
290
3324
7382
8828
102
11572
6465
3779
3489
7400
9466
7522
3698
9233
1802
66
4391
2619
2657
4447
9501
14
12260
7021
2900
2
9534
10843
240
7254

,pid,Time,Age,EtCO2,PTT,BUN,Lactate,Temp,Hgb,HCO3,...,Alkalinephos,SpO2,Bilirubin_direct,Chloride,Hct,Heartrate,Bilirubin_total,TroponinI,ABPs,pH
0,0.0,6.5,39.0,NaN,41.35,18.5,NaN,36.000000,9.65,14.5,...,114.0,100.000000,NaN,100.0,28.450000,84.500000,24.1,NaN,128.625000,7.3700
1,10001.0,6.5,62.0,NaN,NaN,NaN,NaN,37.250000,NaN,NaN,...,NaN,94.200000,NaN,NaN,NaN,111.400000,NaN,NaN,111.444444,NaN
2,10003.0,6.5,72.0,NaN,NaN,NaN,2.01,36.909091,NaN,NaN,...,NaN,99.636364,NaN,NaN,NaN,91.000000,NaN,NaN,124.909091,7.4600
3,10004.0,6.5,44.0,NaN,NaN,10.0,NaN,36.250000,12.70,NaN,...,123.0,95.727273,NaN,NaN,37.500000,87.636364,0.2,NaN,94.727273,NaN
4,10005.0,6.5,88.0,NaN,39.90,42.0,NaN,36.000000,8.80,25.0,...,NaN,95.909091,NaN,108.0,29.600000,54.818182,NaN,NaN,130.100000,NaN
5,10008.0,7.5,59.0,NaN,21.60,39.0,1.70,36.500000,12.80,26.0,...,79.0,98.250000,NaN,108.5,37.200000,71.250000,NaN,NaN,154.000000,7.5450
6,10011.0,6.5,45.0,NaN,NaN,7.0,NaN,36.000000,9.00,NaN,...,NaN,99.545455,NaN,NaN,27.200000,66.181818,NaN,NaN,149.090909,NaN
7,10017.0,6.5,36.0,NaN,23.60,4.5,NaN,36.666667,12.50,NaN,...,72.0,98.600000,NaN,NaN,38.100000,106.600000,0.4,NaN,162.700000,NaN
8,10018.0,6.5,65.0,42.25,NaN,23.0,NaN,38.000000,8.70,NaN,...,NaN,94.545455,NaN,NaN,29.500000,109.636364,NaN,NaN,106.000000,7.3400
9,10019.0,6.5,84.0,NaN,NaN,23.0,NaN,36.363636,9.40,23.0,...,NaN,96.363636,NaN,111.0,29.266667,67.727273,NaN,NaN,116.181818,7.3675
10,10025.0,6.5,23.0,NaN,NaN,NaN,NaN,37.250000,NaN,NaN,...,NaN,100.000000,NaN,NaN,NaN,111.909091,NaN,0.07,162.700000,NaN
11,10028.0,6.5,51.0,NaN,31.40,17.0,NaN,38.000000,10.40,NaN,...,162.0,100.000000,NaN,NaN,32.700000,105.000000,2.3,NaN,145.000000,NaN

In [ ]:
# Delect the columns with too many NaN
for index, row in average_features.iteritems():
    if average_features[index].isnull().sum() >= 0.7 * len(average_features[index]):
        average_features = average_features.drop(columns=index)
        average_test_features = average_test_features.drop(columns=index)

In [9]:
average_features.head(12)

,pid,Time,Age,EtCO2,PTT,BUN,Lactate,Temp,Hgb,HCO3,...,Alkalinephos,SpO2,Bilirubin_direct,Chloride,Hct,Heartrate,Bilirubin_total,TroponinI,ABPs,pH
0,1.0,8.5,34.0,NaN,NaN,12.0,NaN,36.750000,8.566667,25.333333,...,NaN,100.000000,NaN,112.0,23.2,77.083333,NaN,NaN,114.500000,7.370
1,10.0,6.5,71.0,NaN,27.80,12.0,NaN,36.000000,14.600000,NaN,...,68.0,98.000000,NaN,NaN,42.1,78.818182,1.3,0.01,132.909091,NaN
2,100.0,7.5,68.0,NaN,20.90,21.0,NaN,36.250000,12.500000,27.000000,...,NaN,96.500000,NaN,101.0,36.8,109.083333,NaN,NaN,117.000000,NaN
3,1000.0,6.5,79.0,31.863636,NaN,22.0,3.855,36.818182,9.200000,NaN,...,NaN,98.818182,NaN,NaN,27.3,86.363636,NaN,NaN,141.909091,7.300
4,10000.0,6.5,76.0,NaN,28.55,22.0,NaN,36.750000,10.700000,25.500000,...,NaN,98.545455,NaN,103.5,30.3,77.090909,NaN,NaN,123.000000,7.390
5,10002.0,6.5,73.0,19.000000,31.30,18.0,3.005,37.000000,10.400000,NaN,...,38.0,99.181818,NaN,107.0,30.3,67.090909,0.8,NaN,132.090909,7.375
6,10006.0,6.5,51.0,NaN,NaN,NaN,NaN,37.500000,NaN,NaN,...,NaN,96.666667,NaN,NaN,NaN,82.000000,NaN,NaN,117.888889,NaN
7,10007.0,6.5,60.0,NaN,NaN,NaN,NaN,38.000000,NaN,NaN,...,NaN,94.909091,NaN,NaN,NaN,79.909091,NaN,0.08,139.363636,NaN
8,10009.0,6.5,69.0,NaN,86.05,15.0,NaN,37.250000,12.200000,21.000000,...,64.0,97.090909,NaN,104.0,34.0,97.727273,0.8,NaN,90.909091,NaN
9,1001.0,6.5,36.0,NaN,31.20,10.0,1.800,37.666667,10.400000,31.000000,...,NaN,100.000000,NaN,105.0,29.8,106.727273,NaN,NaN,113.090909,7.515
10,10010.0,6.5,85.0,NaN,NaN,119.0,NaN,36.000000,8.333333,NaN,...,NaN,99.909091,NaN,NaN,24.2,73.818182,NaN,0.03,100.727273,NaN
11,10012.0,6.5,63.0,NaN,NaN,NaN,NaN,37.000000,NaN,NaN,...,NaN,99.000000,NaN,NaN,NaN,82.454545,NaN,NaN,101.272727,7.395

In [10]:
average_test_features.head(12)

,pid,Time,Age,EtCO2,PTT,BUN,Lactate,Temp,Hgb,HCO3,...,Alkalinephos,SpO2,Bilirubin_direct,Chloride,Hct,Heartrate,Bilirubin_total,TroponinI,ABPs,pH
0,0.0,6.5,39.0,NaN,41.35,18.5,NaN,36.000000,9.65,14.5,...,114.0,100.000000,NaN,100.0,28.450000,84.500000,24.1,NaN,128.625000,7.3700
1,10001.0,6.5,62.0,NaN,NaN,NaN,NaN,37.250000,NaN,NaN,...,NaN,94.200000,NaN,NaN,NaN,111.400000,NaN,NaN,111.444444,NaN
2,10003.0,6.5,72.0,NaN,NaN,NaN,2.01,36.909091,NaN,NaN,...,NaN,99.636364,NaN,NaN,NaN,91.000000,NaN,NaN,124.909091,7.4600
3,10004.0,6.5,44.0,NaN,NaN,10.0,NaN,36.250000,12.70,NaN,...,123.0,95.727273,NaN,NaN,37.500000,87.636364,0.2,NaN,94.727273,NaN
4,10005.0,6.5,88.0,NaN,39.90,42.0,NaN,36.000000,8.80,25.0,...,NaN,95.909091,NaN,108.0,29.600000,54.818182,NaN,NaN,130.100000,NaN
5,10008.0,7.5,59.0,NaN,21.60,39.0,1.70,36.500000,12.80,26.0,...,79.0,98.250000,NaN,108.5,37.200000,71.250000,NaN,NaN,154.000000,7.5450
6,10011.0,6.5,45.0,NaN,NaN,7.0,NaN,36.000000,9.00,NaN,...,NaN,99.545455,NaN,NaN,27.200000,66.181818,NaN,NaN,149.090909,NaN
7,10017.0,6.5,36.0,NaN,23.60,4.5,NaN,36.666667,12.50,NaN,...,72.0,98.600000,NaN,NaN,38.100000,106.600000,0.4,NaN,162.700000,NaN
8,10018.0,6.5,65.0,42.25,NaN,23.0,NaN,38.000000,8.70,NaN,...,NaN,94.545455,NaN,NaN,29.500000,109.636364,NaN,NaN,106.000000,7.3400
9,10019.0,6.5,84.0,NaN,NaN,23.0,NaN,36.363636,9.40,23.0,...,NaN,96.363636,NaN,111.0,29.266667,67.727273,NaN,NaN,116.181818,7.3675
10,10025.0,6.5,23.0,NaN,NaN,NaN,NaN,37.250000,NaN,NaN,...,NaN,100.000000,NaN,NaN,NaN,111.909091,NaN,0.07,162.700000,NaN
11,10028.0,6.5,51.0,NaN,31.40,17.0,NaN,38.000000,10.40,NaN,...,162.0,100.000000,NaN,NaN,32.700000,105.000000,2.3,NaN,145.000000,NaN

In [11]:
# Use KNN to impute data
from sklearn.impute import KNNImputer

average_features = average_features.drop(columns = ['pid', 'Time'])
imputer = KNNImputer(n_neighbors=3)
imputed = imputer.fit_transform(average_features)
data_imputed = pd.DataFrame(imputed, columns=average_features.columns)

data_imputed.head(12)

,Age,EtCO2,PTT,BUN,Lactate,Temp,Hgb,HCO3,BaseExcess,RRate,...,Alkalinephos,SpO2,Bilirubin_direct,Chloride,Hct,Heartrate,Bilirubin_total,TroponinI,ABPs,pH
0,34.0,42.116667,31.766667,12.000000,2.300000,36.750000,8.566667,25.333333,-0.666667,17.000000,...,42.666667,100.000000,0.566667,112.000000,23.200000,77.083333,1.166667,7.896667,114.500000,7.370000
1,71.0,31.588624,27.800000,12.000000,2.227778,36.000000,14.600000,24.666667,-0.222222,18.090909,...,68.000000,98.000000,0.220000,108.000000,42.100000,78.818182,1.300000,0.010000,132.909091,7.411111
2,68.0,28.138889,20.900000,21.000000,1.666667,36.250000,12.500000,27.000000,3.444444,14.833333,...,64.000000,96.500000,0.266667,101.000000,36.800000,109.083333,2.533333,0.043333,117.000000,7.402222
3,79.0,31.863636,28.366667,22.000000,3.855000,36.818182,9.200000,23.333333,-0.500000,12.000000,...,56.666667,98.818182,0.166667,104.777778,27.300000,86.363636,0.766667,0.403333,141.909091,7.300000
4,76.0,27.416667,28.550000,22.000000,1.208889,36.750000,10.700000,25.500000,1.500000,12.090909,...,58.000000,98.545455,0.466667,103.500000,30.300000,77.090909,0.633333,4.180000,123.000000,7.390000
5,73.0,19.000000,31.300000,18.000000,3.005000,37.000000,10.400000,25.666667,1.777778,19.625000,...,38.000000,99.181818,3.366667,107.000000,30.300000,67.090909,0.800000,1.346667,132.090909,7.375000
6,51.0,38.744444,32.900000,31.000000,2.253968,37.500000,9.933333,23.833333,1.500000,18.888889,...,52.333333,96.666667,1.900000,101.500000,28.144444,82.000000,2.116667,0.026667,117.888889,7.353333
7,60.0,32.310606,35.133333,11.666667,1.243333,38.000000,10.966667,26.377778,0.861111,21.909091,...,94.666667,94.909091,0.173333,105.777778,32.722222,79.909091,0.600000,0.080000,139.363636,7.409167
8,69.0,36.850000,86.050000,15.000000,1.700000,37.250000,12.200000,21.000000,0.055556,22.500000,...,64.000000,97.090909,0.400000,104.000000,34.000000,97.727273,0.800000,0.680000,90.909091,7.371111
9,36.0,37.742424,31.200000,10.000000,1.800000,37.666667,10.400000,31.000000,7.500000,13.363636,...,62.333333,100.000000,0.476667,105.000000,29.800000,106.727273,0.900000,0.066667,113.090909,7.515000
10,85.0,36.766667,90.200000,119.000000,1.300000,36.000000,8.333333,24.000000,-0.166667,18.636364,...,61.000000,99.909091,0.596667,110.333333,24.200000,73.818182,0.966667,0.030000,100.727273,7.343333
11,63.0,25.818182,75.100000,19.333333,2.208333,37.000000,10.633333,20.500000,2.380952,16.454545,...,71.666667,99.000000,0.700000,104.000000,31.483333,82.454545,0.966667,2.760000,101.272727,7.395000

In [12]:
X = data_imputed
for index, row in X.iteritems():
    print(X[index].isnull().sum())
print(X.shape)

0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
(18995, 35)

In [13]:
y = labels['LABEL_BaseExcess']
print(y.head(12))

0     1.0
1     0.0
2     1.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     1.0
9     1.0
10    0.0
11    0.0
Name: LABEL_BaseExcess, dtype: float64

In [14]:
# Standardize the training data and import the Logistic Regression model
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
print(X_train)
print(y_train)
print(X_test)
print(y_test)

       Age      EtCO2        PTT   BUN   Lactate       Temp        Hgb  \
6415  19.0  32.988095  42.600000   6.5  0.830000  37.500000  12.100000
4464  66.0  34.848485  94.766667   8.0  1.596667  37.333333   8.600000
4186  69.0  39.401515  45.066667  18.0  5.288889  36.272727  10.866667
5194  60.0  58.078788  30.000000  22.0  1.200000  36.333333  10.600000
362   20.0  32.314815  26.000000   7.0  2.300000  36.000000  11.566667
...    ...        ...        ...   ...       ...        ...        ...
8254  54.0  40.436869  27.000000  12.0  2.483333  37.000000  14.800000
9279  42.0  38.123737  97.966667  10.0  2.216667  36.900000  11.600000
1270  73.0  33.983333  21.800000  19.0  1.563333  38.000000  10.700000
6574  66.0  29.811111  26.600000  75.0  1.500000  38.250000   9.800000
5044  22.0  38.888889  43.300000   7.0  1.850000  37.100000  11.133333

           HCO3  BaseExcess      RRate  ...  Alkalinephos       SpO2  \
6415  20.666667   -1.333333  14.000000  ...     61.500000  97.400000
4464  26.500000   -0.583333  18.727273  ...     81.000000  96.454545
4186  21.666667   -4.333333  15.416667  ...     56.166667  98.500000
5194  26.044444    1.111111  19.100000  ...     52.000000  93.363636
362   22.000000    2.000000  21.181818  ...     66.000000  99.636364
...         ...         ...        ...  ...           ...        ...
8254  28.000000    3.333333  16.181818  ...     58.333333  97.090909
9279  25.111111    1.666667  15.500000  ...     75.000000  99.800000
1270  33.000000    7.000000  17.909091  ...     59.666667  99.727273
6574  20.500000   -2.666667  23.900000  ...     80.666667  96.500000
5044  24.000000   -2.000000  17.500000  ...     60.666667  98.416667

      Bilirubin_direct    Chloride        Hct   Heartrate  Bilirubin_total  \
6415          1.233333  105.333333  35.250000   93.600000         2.000000
4464          0.183333  104.000000  26.300000   93.181818         1.000000
4186          0.733333  108.000000  32.666667   83.750000         1.433333
5194          7.133333  103.777778  35.400000  115.818182         0.700000
362           0.433333  105.000000  33.316667  120.916667         0.400000
...                ...         ...        ...         ...              ...
8254          0.133333  104.000000  40.700000   81.545455         0.933333
9279          2.036667  102.888889  35.200000   73.800000         1.733333
1270          0.133333  101.000000  32.400000   84.454545         0.900000
6574          0.366667  107.500000  29.250000   63.800000         0.600000
5044          0.666667  111.000000  32.450000   83.666667         0.666667

      TroponinI        ABPs        pH
6415   0.056667  143.900000  7.470000
4464   0.110000  164.818182  7.268333
4186   8.313333  110.916667  7.313333
5194   0.050000  135.454545  7.391111
362    0.016667  134.272727  7.440000
...         ...         ...       ...
8254   6.121667  113.555556  7.393333
9279   4.305000  149.100000  7.386667
1270   0.103333  147.454545  7.470000
6574   1.310000   91.300000  7.363333
5044   0.766667  104.666667  7.311429

[15196 rows x 35 columns]
6415    0.0
4464    1.0
4186    0.0
5194    0.0
362     0.0
       ...
8254    0.0
9279    0.0
1270    1.0
6574    0.0
5044    1.0
Name: LABEL_BaseExcess, Length: 15196, dtype: float64
        Age      EtCO2        PTT        BUN   Lactate       Temp        Hgb  \
116    59.0  34.872222  24.900000   8.000000  1.300000  37.000000  15.400000
8068   29.0  36.961111  29.033333  16.000000  1.700000  37.000000  15.100000
3217   89.0  33.944444  27.900000  30.000000  3.966667  36.555556  11.600000
13300  55.0  35.861472  51.933333  12.000000  1.983333  36.666667  11.200000
3360   51.0  39.566667  66.850000  15.500000  2.082000  37.333333   8.683333
...     ...        ...        ...        ...       ...        ...        ...
15609  23.0  35.486111  35.000000  28.000000  2.383333  38.000000   8.300000
5587   39.0  35.322727  31.600000  26.000000  1.238333  37.000000  11.366667
7914   57.0  39.405556  41.366667  22.000000  1.416667  36.636364  12.850000
9362   62.0  31.606061  31.966667  21.333333  1.623333  37.000000  10.944444
18452  61.0  35.267803  30.100000  19.500000  1.400000  36.000000  11.350000

            HCO3  BaseExcess      RRate  ...  Alkalinephos        SpO2  \
116    25.000000    1.666667  19.363636  ...     68.000000   95.454545
8068   20.333333   -2.833333  16.666667  ...    107.333333   96.111111
3217   23.000000   -4.200000  14.166667  ...     52.333333   98.500000
13300  24.877778   -0.944444  19.333333  ...    212.000000   99.000000
3360   30.500000    3.988889  20.833333  ...    101.500000   97.666667
...          ...         ...        ...  ...           ...         ...
15609  24.000000    0.200000  23.090909  ...     77.666667  100.000000
5587   28.000000    1.875000  18.727273  ...     31.000000   98.363636
7914   23.044444   -2.666667  17.000000  ...     68.000000   96.454545
9362   28.377778    0.683333  18.625000  ...     70.000000   99.909091
18452  22.000000    0.000000  18.454545  ...     38.666667   98.000000

       Bilirubin_direct    Chloride        Hct   Heartrate  Bilirubin_total  \
116            0.233333  102.000000  42.800000   83.000000         0.766667
8068           1.410000  108.666667  35.933333   87.444444         0.966667
3217           0.633333  112.000000  31.100000   79.750000         1.800000
13300          0.533333  105.777778  32.700000   61.000000         0.800000
3360           0.100000  104.666667  26.800000   85.333333         3.300000
...                 ...         ...        ...         ...              ...
15609          0.233333  106.000000  23.800000  110.636364         0.700000
5587           2.233333  111.000000  31.966667   72.090909         1.500000
7914           0.800000  109.111111  39.250000   91.272727         1.500000
9362           6.663333  104.277778  31.955556   85.181818         0.666667
18452          0.400000  102.000000  36.750000   82.454545         1.000000

       TroponinI        ABPs        pH
116     0.426667  148.545455  7.410000
8068    0.030000   96.555556  7.308333
3217    3.588889  112.666667  7.328000
13300   0.038333  118.000000  7.399127
3360    5.250000  118.200000  7.406667
...          ...         ...       ...
15609   2.350000  135.454545  7.334667
5587    0.010000  112.454545  7.398333
7914    0.260000  100.545455  7.341111
9362   13.490000  161.181818  7.450167
18452   1.600000  125.636364  7.480000

[3799 rows x 35 columns]
116      1.0
8068     0.0
3217     1.0
13300    0.0
3360     0.0
        ...
15609    0.0
5587     0.0
7914     0.0
9362     0.0
18452    1.0
Name: LABEL_BaseExcess, Length: 3799, dtype: float64

In [16]:
# Standardize the training features and test features
ss = StandardScaler()
X_train = ss.fit_transform(X_train)
X_test = ss.transform(X_test)

In [17]:
y_train.mean()

0.26599105027638853

In [35]:
model = svm.SVC(C=0.1, kernel='rbf', gamma=0.01, class_weight='balanced', probability=True)
model.fit(X_train, y_train)
y_pred_train = model.predict(X_train)
y_pred = model.predict(X_test)
score = model.score(X_train, y_train)
test_score = model.score(X_test, y_test)
auroc_score = roc_auc_score(y_test, model.predict_proba(X_test)[:, 1])
print('y_pred_train mean: ', y_pred_train.mean())
print('y_test mean: ', y_test.mean())
print('y_pred_test mean: ', y_pred.mean())
print('train accuracy: ', score)
print('test accuracy: ', test_score)
print('auroc score: ', auroc_score)

y_pred_train mean:  0.4016188470650171
y_test mean:  0.27744143195577786
y_pred_test mean:  0.4069491971571466
train accuracy:  0.7044617004474861
test accuracy:  0.6809686759673599
auroc score:  0.7469136570545722

In [40]:
model = svm.SVC(C=0.1, kernel='rbf', gamma=0.01, class_weight='balanced', probability=True)
model.fit(X_train, y_train)
y_pred_train = model.predict(X_train)
y_pred = model.predict(X_test)
score = model.score(X_train, y_train)
test_score = model.score(X_test, y_test)
auroc_score = roc_auc_score(y_test, y_pred)
print('y_pred_train mean: ', y_pred_train.mean())
print('y_test mean: ', y_test.mean())
print('y_pred_test mean: ', y_pred.mean())
print('train accuracy: ', score)
print('test accuracy: ', test_score)
print('auroc score: ', auroc_score)

y_pred_train mean:  0.4016188470650171
y_test mean:  0.27744143195577786
y_pred_test mean:  0.4069491971571466
train accuracy:  0.7044617004474861
test accuracy:  0.6809686759673599
auroc score:  0.6740307545545982

In [37]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate

In [51]:
print(X)

[[-1.70642596e+00  1.39423565e+00 -4.50177089e-01 ...  2.10912446e-01
  -4.15121276e-01 -2.29192510e-01]
 [ 5.42565645e-01 -3.42528280e-01 -6.51722764e-01 ... -3.73128915e-01
   5.35246502e-01  5.62492455e-01]
 [ 3.60214974e-01 -9.11615667e-01 -1.00231062e+00 ... -3.70660439e-01
  -2.86058985e-01  3.91317327e-01]
 ...
 [-5.51538380e-01  8.32483799e-04 -6.42972182e-01 ... -2.70810595e-01
  -1.20240125e+00  3.96666550e-01]
 [ 1.63666967e+00  1.65242560e-01 -3.01134909e-01 ... -2.62417778e-01
   4.64848888e-01  6.60845849e-02]
 [ 1.39353544e+00 -9.68076086e-01 -2.14758191e-01 ... -1.21143376e-02
   2.86508268e-01 -1.12786193e+00]]

In [53]:
ss = StandardScaler()
X = ss.fit_transform(X)
X

array([[-1.70642596e+00,  1.39423565e+00, -4.50177089e-01, ...,
         2.10912446e-01, -4.15121276e-01, -2.29192510e-01],
       [ 5.42565645e-01, -3.42528280e-01, -6.51722764e-01, ...,
        -3.73128915e-01,  5.35246502e-01,  5.62492455e-01],
       [ 3.60214974e-01, -9.11615667e-01, -1.00231062e+00, ...,
        -3.70660439e-01, -2.86058985e-01,  3.91317327e-01],
       ...,
       [-5.51538380e-01,  8.32483799e-04, -6.42972182e-01, ...,
        -2.70810595e-01, -1.20240125e+00,  3.96666550e-01],
       [ 1.63666967e+00,  1.65242560e-01, -3.01134909e-01, ...,
        -2.62417778e-01,  4.64848888e-01,  6.60845849e-02],
       [ 1.39353544e+00, -9.68076086e-01, -2.14758191e-01, ...,
        -1.21143376e-02,  2.86508268e-01, -1.12786193e+00]])

In [41]:
model = svm.SVC(C=0.1, kernel='rbf', gamma=0.01, class_weight='balanced')
scores = cross_validate(model, X_train, y_train, cv=5, scoring=('roc_auc', 'accuracy'))
scores

{'fit_time': array([4.31842923, 4.33641148, 4.22960424, 4.22927022, 4.30846047]),
 'score_time': array([3.12836957, 3.1282661 , 3.09616303, 3.1351099 , 3.11977267]),
 'test_roc_auc': array([0.75729232, 0.76662665, 0.73303218, 0.75952654, 0.75760142]),
 'test_accuracy': array([0.69473684, 0.69957223, 0.68213228, 0.69463639, 0.69134584])}

In [54]:
model = svm.SVC(C=0.1, kernel='rbf', gamma=0.01, class_weight='balanced')
scores = cross_validate(model, X, y, cv=5, scoring=('roc_auc', 'accuracy'))
scores

{'fit_time': array([6.64578462, 6.62885332, 6.84044099, 7.04738855, 6.9705863 ]),
 'score_time': array([4.78537369, 4.83545566, 4.89944172, 4.82124352, 4.83270669]),
 'test_roc_auc': array([0.75147253, 0.76397159, 0.74906207, 0.75642399, 0.76431259]),
 'test_accuracy': array([0.68465386, 0.69623585, 0.69544617, 0.70123717, 0.69413003])}

In [ ]:
# Use Cross validation to find the best C and gamma
def optimize_C_gamma(X, y):
    scores = []
    for c in np.arange(0.2, 1.0, 0.2):
        for g in np.arange(0.02, 0.1, 0.02):
            print('Current C: ', c)
            print('Current Gamma: ', g)
            # Train the SVM model
            model = svm.SVC(C=c, kernel='rbf', gamma=g, class_weight='balanced')
            score = cross_validate(model, X, y, cv=5, scoring=('roc_auc', 'accuracy'))
            avgScore = {}
            for k,v in score.items():
                # v is the list of grades for student k
                avgDict[k] = sum(v)/ float(len(v))


            scores.append(avgScore)
            print(avgScore)
            print('Interate once!')
    return scores

scores = optimize_C_gamma(X, y)
print(scores)

Current C:  0.2
Current Gamma:  0.02

In [ ]:
def optimize_k(x, y):
    scores = []
    for k in range(1, 10, 2):
        imputer = KNNImputer(n_neighbors=k)
        imputed = imputer.fit_transform(x)
        data_imputed = pd.DataFrame(imputed, columns=x.columns)
        
        X = data_imputed
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
        
        # Standardize the training features and test features
        ss = StandardScaler()
        X_train = ss.fit_transform(X_train)
        X_test = ss.transform(X_test)
    
        # Train the model and get the AUROC score
        model = LogisticRegression(C=1.0, penalty='l1', tol=0.0001, solver='liblinear', random_state=1)
        model.fit(X_train, y_train)
        y_pred = model.predict(X_test)
        auroc_score = roc_auc_score(y_test, y_pred)
        scores.append({'K': k, 'Score': auroc_score})
        print('Interate once!')
        
    return scores

scores = optimize_k(average_features, labels['LABEL_Fibrinogen'])
print(scores)

In [ ]:
# Train models for each medical test
medical_tests = ['LABEL_BaseExcess', 'LABEL_Fibrinogen', 'LABEL_AST', 'LABEL_Alkalinephos', 'LABEL_Bilirubin_total', 'LABEL_Lactate', 'LABEL_TroponinI', 'LABEL_SaO2', 'LABEL_Bilirubin_direct', 'LABEL_EtCO2']

def optimize_k(x, y):
    scores = []
    for k in range(1, 10, 2):
        imputer = KNNImputer(n_neighbors=k)
        imputed = imputer.fit_transform(x)
        data_imputed = pd.DataFrame(imputed, columns=x.columns)
        
        X = data_imputed
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
        
        # Standardize the training features and test features
        ss = StandardScaler()
        X_train = ss.fit_transform(X_train)
        X_test = ss.transform(X_test)
    
        # Train the model and get the AUROC score
        model = LogisticRegression(C=1.0, penalty='l1', tol=0.0001, solver='liblinear')
        model.fit(X_train, y_train)
        y_pred = model.predict(X_test)
        auroc_score = roc_auc_score(y_test, y_pred)
        scores.append({'K': k, 'Score': auroc_score})
        print('Interate once!')
        
    return scores

# Test for the first medical test
scores = optimize_k(average_features, labels['LABEL_BaseExcess'])
print(scores)

# # Iterate the medical tests
# for index, row in labels.iteritems():
#     if index in medical_tests:
#         scores = optimize_k(features, labels[index])
#     print('Scores for label' + index, scores)